<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MovieBuzz : Watch</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js" integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/home.css">
</head>
<link rel="shortcut icon" href="img/favicon.png" type="image/png">
<style>
    .navbar{
        color: #fff;
    }
</style>
<body>

<!-- navbar -->
  {{>navbar}}
    
    
    <!-- trending section -->
    

    <!-- main section -->

    <header class="main">
        <h1 class="heading">movies</h1>
        <p class="info">Movies move us like nothing else can,whether they're scary,funny,dramatic,romantic or any-where in-between. so many titles ,so much to experience</p>

        <!-- movie list -->
        <!-- <div class="movie-list">

            <button class="pre-btn"><img src="img/pre.png" alt=""></button>
            <h1 class="movie-category">Popular movie</h1>
            <div class="movie-container">
                <div class="movie">
                    <img src="img/poster.jpg" alt="">
                    <p class="movie-title">movie name</p>
                </div>
            </div>
            <button class="nxt-btn"><img src="img/nxt.png" alt=""></button>
        </div> -->
    </header>
     <footer class="footer">
        <div class="contain">
            <div class="row">
                <p class="copyright-text"><span>&copy;</span> 2022 by Ramkrishna Saha</p>
            </div>
        </div>
    </footer>

    <script src="js/api.js"></script>
    <script src="js/scroll.js"></script>
    <script src="js/home.js"></script>
</body>
</html>