<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand" href="/home"><img src="img/home-logo.png" alt="" class="logo-img"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <li class="nav-item mt-3">
          <p>UNLIMITED TV SHOWS AND MOVIES</p>
        </li>
        <li class="nav-item mt-1.5">
          <a class="nav-link" href="#"><button class="btn btn-outline-danger">JOIN NOW</button></a>
        </li>
      </ul>
      <form class="d-flex" onSubmit="return false;">
        <input class="form-control me-2" type="text" id="userName" value="" placeholder="Search your fav" >
        <button class="btn btn-danger search-btn me-5" type="submit" id="submitBtn">Search</button>
      </form>
    </div>
  </div>
</nav>